<h2>編集ページ</h2>

<%= form_for(@user) do |f| %>
	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
	<br><br>
	<%= f.email_field :email, autofocus: true, placeholder:"メールアドレス" %>
	<br><br>
	<%= f.text_field :name, autofocus: true, placeholder:"名前" %>

	<br><br>
	<%= f.submit "保存する" %>
<% end %>
