<p>showページ</p>

	<div><%= attachment_image_tag @image, :image %></div>

	<div>
		<span><%= @image.title %></span>
		<span><%= @image.body %></span>
		<span>Post By<%= @image.user.name %></span>
	</div>


	<% if @image.user == current_user %>
		<%= link_to "削除する", image_path(@image.id), method: :delete %>
	<% end %>

